@font-face {
  font-family: 'Borna';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Borna-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Borna';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('./Borna-Regular-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Borna';
  font-style: normal;
  font-weight: 500 600;
  font-display: swap;
  src: url('./Borna-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Borna';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('./Borna-Medium-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Borna';
  font-style: normal;
  font-weight: 600 700;
  font-display: swap;
  src: url('./Borna-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Borna';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('./Borna-SemiBold-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Borna';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./Borna-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Borna';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('./Borna-Bold-Italic.otf') format('opentype');
}
@font-face {
  font-family: 'Borna-bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./Borna-Bold.otf') format('opentype');
}
